@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: comic sans ms, cursive;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: #C1CFA0;
}

.header {
	text-align: center;
	letter-spacing: 8px;
	background: #495a21;
	color: #fdfcfd;
	padding: 15px;
	width: 100%;
}

.logout {
	background-color: #3460a4;
	color: white;
	border-radius: 20px;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	top: 35px;
	right: 15px;
	transform: translateY(-50%);
	cursor: pointer;
}

.column {
	float: left;
	padding: 10px;
	height: 100vw;
}

.column.side {
	width: 10vw;
	height: 100%;
	background-color: #C1CFA0; /* Updated color for side columns */
}

.column.middle {
	width: 80vw;
	background-color: #EAEFDF; /* Updated color for middle column */
	position: relative;
	/* Make it a positioning context for absolute positioning */
}

.navbar {
	background-color: #DBF4A1; /* Color for the navigation bar */
	border-radius: 30px;
	text-align: center;
}

.nav-link {
	display: inline-block;
	padding: 10px;
	color: #495a21;
	text-decoration: none;
}

.nav-link.active {
	color: black; /* Set a text color for the active link */
	font-weight: bold; /* Make the text bold for the active link */
}

.navbar a:hover {
	background-color: #4f4828;
	color: white;
	font-weight: bold;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* Style for the table */
table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

/* Style for table header */
th {
	background-color: #495A21; /* Set header color to #495A21 */
	color: white; /* Set text color to white */
	padding: 10px;
	text-align: center; /* Center-align text */
}

/* Style for table data */
td {
	padding: 10px;
	text-align: center; /* Center-align text */
}

/* Style for alternating rows */
tr:nth-child(even) {
	background-color: #EAEFDF;
}

/* Style for actions column */
td a {
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
	font-weight: bold;
}

/* Specific colors for view, update, and delete */
td .view {
	color: #38B6FF; /* Set color for view link */
}

td .update {
	color: #4EC85A; /* Set color for update link */
}

td .delete {
	color: #CD3D0B; /* Set color for delete link */
}

/* Hover effect for links */
td a:hover {
	color: #4f4828;
}